:root{
    --primary: #1242f4;
    --black: #000;
    --white: #fff;
    --backGroundInput: #e3eaf3;
    --backgroundPage: #fff;
}


/* class colors */

.background-primary{
    background-color: var(--primary);
}

.background-white{
    background-color: var(--white);
}